* {
    font-size: 62.5%;
}
/* 1 Rem son 10 px*/


:root {
    --black: #000;
    --light-grey-blue: rgba(184, 184, 185, 0.1);
    --black-8: rgba(0, 0, 0, 0.08);
    --aqua: #14d9c4;
    --blue-green: #099d8d;
    --white: #fff;
    --cool-grey: #b8b8b9;
  }
  



  /*
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik', sans-serif;
*/

/*HEADER*/

.header {
    background-color:pink;
    font-family: 'Rubik', sans-serif;
}






/*HERO*/





/*TEAM*/





/*ABOUT US*/





/*FOOTER*/