<section class="about-us" id="about-us">
  <div class="container">
    <h3 class="about-us-h3">quiénes somos</h3>
    <include
      src="./about-us-article.html"
      classArticle="leftArticle"
      classImage="leftImage"
      imgSrc="./assets/images/adalaber1.jpeg"
      imgAlt="foto de Ana"
      name="Ana Lozano"
      personalDescription="Cansada de trabajar en un sector que no me ilusionaba, di el salto a esta aventura, en la que gracias a mis ganas de aprender, mis conocimientos sobre User Experience y mi buena predisposición para trabajar en equipo ¡estoy lista para luchar contra todo tipo de bugs informáticos!"
      twitter="https://twitter.com/Purpleux1"
      linkedIn="https://www.linkedin.com/in/ana-lozano-ux/"
      gitHub="https://github.com/Ana-Purple-Dev"
      email="analozanomor@gmail.com"
    ></include>

    <include
      src="./about-us-article.html"
      classArticle="rightArticle"
      classImage="rightImage"
      imgSrc="./assets/images/adalaber2.jpg"
      imgAlt="foto de Paula"
      classText="rightText"
      name="Paula Masutier"
      personalDescription="Filóloga apasionada de la naturaleza y de la cerámica que ha encontrado una nueva pasión: la programación.  Me adentro en el mundo de la programación web para adoptar un nuevo camino profesional haciendo lo que más gusta."
      iconList="iconListRight"
      twitter="https://twitter.com/"
      linkedIn="https://www.linkedin.com/"
      gitHub="https://github.com/pmasutie"
      email="paulamasutier@gmail.com"
    >
    </include>

    <include
      src="./about-us-article.html"
      classArticle="leftArticle"
      classImage="leftImage"
      imgSrc="./assets/images/adalaber3.jpg"
      imgAlt="foto de Blanca"
      name="Blanca Ubis"
      personalDescription="El resto de telecos me miran mal porque me gusta programar. Aprendí a darle a la tecla en Pascal guardando los ejercicios en disquetes y ahora estoy intentando actualizarme con Adalab. De momento he conseguido soñar en HTML, de ahí al top:0."
      twitter="https://twitter.com/blaumart87"
      linkedIn="https://www.linkedin.com/in/blanca-ubis-mart%C3%ADnez-1188a942/"
      gitHub="https://github.com/blancaum"
      email="ubis.blanca@gmail.com"
    ></include>

    <include
      src="./about-us-article.html"
      classArticle="rightArticle"
      classImage="rightImage"
      imgSrc="./assets/images/adalaber4.jpg"
      imgAlt="foto de Elena"
      classText="rightText"
      name="Elena Vargas"
      personalDescription="Ingeniera electrónica amante de los peludos y el sur. Cordobesa de los pies a la cabeza dispuesta a afrontar cualquier reto que se le ponga por delante. Me adentré en el mundo de la programación gracias a Arduino y ahora sólo sueño con convertirme en una guerrera full stack con ayuda de Adalab."
      iconList="iconListRight"
      twitter="https://twitter.com/elenaavar"
      linkedIn="https://www.linkedin.com/in/elena-vargas-monserrat/"
      gitHub="https://github.com/Elenavar"
      email="elenavargasm9@gmail.com"
    ></include>

    <include
      src="./about-us-article.html"
      classArticle="leftArticle"
      classImage="leftImage"
      imgSrc="./assets/images/adalaber5.jpg"
      imgAlt="foto de Noemí"
      name="Noemí Yuen"
      personalDescription="Después de trabajar en el mundo de la Auditoría se dió cuenta de que lo que realmente le  apasionaba era la informática, especialmente la programación, y decidió dejarlo todo para seguir su sueño con ilusión y trabajo duro."
      twitter="https://twitter.com/"
      linkedIn="https://www.linkedin.com/"
      gitHub="https://github.com/NOEMIYUEN"
      email="noemiyuen@gmail.com"
    ></include>
  </div>
</section>
