<article class="about-us-article @@class">
    <figure class="article-figure">
      <img
        class="article-figure__image"
        src="@@imgSrc"
        alt="@@imgAlt"
      />
    </figure>
    <div class="article-text">
      <h4 class="article-text-h4">@@name</h4>
      <p class="article-text-p">
       @@personalDescription
      </p>
      <ul class="icons-list">
        <li>
          <a class="anchor__icon" href="@@twitter" target="_blank"><i class="fa-brands fa-twitter icon-dots"></i></a>
        </li>
        <li>
          <a class="anchor__icon" href="@@linkedIn" target="_blank"><i class="fa-brands fa-linkedin-in icon-dots"></i></a>
        </li>
        <li>
          <a class="anchor__icon" href="@@gitHub" target="_blank"><i class="fa-brands fa-github-alt icon-dots"></i></a>
        </li>
        <li>
          <a class="anchor__icon" href="mailto:@@email" target="_blank"><i class="fa-solid fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </article>