<footer class="footer">
  <p class="copy">Guerreras del front &copy; 2022</p>
  <nav class="footer-nav">
    <ul class="footer-list">
      <li>
        <a class="footer-list-link" href="./index.html#team">equipo</a>
      </li>
      <li>
        <a class="footer-list-link" href="./index.html#about-us"
          >quiénes somos</a
        >
      </li>
      <li>
        <a class="footer-list-link" href="./contact.html">contacto</a>
      </li>
    </ul>
  </nav>
  <img
    src="./assets/images/logo-adalab.svg"
    alt="logo-adalab"
    class="footer-logo"
  />
  <div class="footer-container">
    <p class="copy">Guerreras del front &copy; 2022</p>
    <img
      src="./assets/images/logo-adalab.svg"
      alt="logo-adalab"
      class="footer-logo"
    />
  </div>
</footer>
