<section class="team" id="team">
  <div class="container">
    <div class="team-container-white">
      <article class="team-article">
        <h3 class="team-h3">Equipo</h3>
        <div class="team-article-Pcontainer">
          <p class="team-p">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa
            dolor error neque tempora eligendi iusto soluta dignissimos
            delectus! Reiciendis hic neque omnis similique, fugiat non sequi rem
            sit praesentium aperiam.
          </p>
          <p class="team-p">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit quam
            excepturi blanditiis culpa delectus doloremque, animi nihil atque!
            Veritatis harum ratione dolorum sit ut, quod est non beatae ex
            pariatur?
          </p>
        </div>
      </article>
      <div class="team-square"></div>
    </div>
  </div>
  <div class="team-container-grey">
    <article class="team-article strengths">
      <h4 class="team-h4">Fortalezas</h4>
      <p class="team-p">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa dolor
        error neque tempora eligendi iusto soluta dignissimos delectus!
        Reiciendis hic neque omnis similique, fugiat non sequi rem sit
        praesentium aperiam.
      </p>
    </article>
    <article class="team-article weaknesses">
      <h4 class="team-h4">Debilidades</h4>
      <p class="team-p">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa dolor
        error neque tempora eligendi iusto soluta dignissimos delectus!
        Reiciendis hic neque omnis similique, fugiat non sequi rem sit
        praesentium aperiam.
      </p>
    </article>
  </div>
</section>
