<section class="team" id="team">
  <div class="container">
    <div class="team-container-white">
      <article class="team-article">
        <h3 class="team-h3">Equipo</h3>
        <div class="team-article-Pcontainer">
          <p class="team-p">
            Cinco aventureras de formación diversa que abrieron la ventana hacia
            el Universo de la Programación Web y decidieron quedarse a luchar
            ampliando su conocimiento y afrontando nuevos retos.
          </p>
          <p class="team-p">
            Son conscientes de la importancia del trabajo cooperativo y valoran
            mucho el poder apoyarse en personas de confianza, ya que cuanto más
            grande es el sueño, más importante es el equipo.
          </p>
        </div>
      </article>
      <div class="team-square"></div>
    </div>
  </div>
  <div class="team-container-grey">
    <article class="team-article strengths">
      <h4 class="team-h4">Fortalezas</h4>
      <p class="team-p">
        Cada miembro del equipo ha demostrado capacidad para integrarse de forma
        rápida y ha sabido adaptarse a las circunstancias adversas de forma ágil
        y efectiva. Todas las integrantes se caracterizan por su motivación,
        ganas de aprender y a la vez compartir sus conocimientos con el resto.
        No les asustan los retos ya que siempre están dispuestas a intentarlo.
      </p>
    </article>
    <article class="team-article weaknesses">
      <h4 class="team-h4">Debilidades</h4>
      <p class="team-p">
        Equipo joven dispuesto a conocerse mejor a través de la cooperación y la
        comunicación basándose en la filosofía Agile. Cada miembro proviene de
        una formación muy diferente no relacionada directamente con la
        Programación Web, pero esto aporta diversidad al equipo y puntos de
        vista diferentes que en su conjunto se transforman en un valor añadido.
      </p>
    </article>
  </div>
</section>
