$fontSizeForm:0,87rem;
$fontSizeContact12px: 1.2rem;
$fontSizeContact14px: 1.4rem;
$fontSizeContact16px: 1.6rem;
$fontSizeContact24px: 2.4rem;
$buttonColor:#099d8d;
$textFont:'Open Sans', sans-serif;
$textFontContact: "Rubik", sans-serif;

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        &__h3{
            margin-top: 30px;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            color: var(--blue-green);
            font-family: $textFontContact;
            font-size: $fontSizeContact;
            }

        &__p{
            box-sizing: border-box;
            margin-top: 15px;
            width: 290px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--gunmetal);
            font-family: $textFont;
            line-height: 2.4rem;
         }
        &__p--p1{
            text-align: center;
            font-size: $fontSizeContactP1;
        }
        &__p--p2{
            text-align: center;
            font-size: $fontSizeContactP2; 
            margin-top: 20px;
                span{
            color: var(--aqua);
        }
        
        
}


.form{
    display: flex;
    flex-direction: column;
    font-family: $textFont;
    padding: 58px 15px 60px 15px;
    font-size: $fontSizeForm;
    &__label{
        color: var(--gunmetal);
        margin-bottom: 7px;
        &--required::after{
            content: " *";
            color:var(--aqua);
        }
    }
    &__input{
        height: 45px;
        color: var(--cool-grey);
        margin-bottom: 13px;
        border: solid 1px var(--cool-grey);
    }
    &__input--button{
        background-color: $buttonColor;
        height: 45px;
        border: none;
        border-radius:4px;
        color: var(--white);
        text-transform: uppercase;
        margin-top: 30px
    }
    &__input--mesage{
        height: 105px;
    }
}