/*FOOTER*/
.footer-container{
  display: none;
}
  .footer{
    box-sizing: border-box;
    border-top: 1px solid var(--cool-grey);
    height: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .copy{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    color: var(--cool-grey);
    font-size: 1.4rem;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
  }
  .footer-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
       /* top | right+left | bottom */
    margin: 20px 103px 0;
  }
  .footer-list-link{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: var(--gunmetal);
    line-height: 2rem;
    font-size: 1.4rem; 
    text-decoration: none;
    justify-content: center;
    text-transform: uppercase;
  }
  .footer-logo{
    display: inline-block;
    justify-content: center;
     /* top | right | bottom | left */
    margin: 30px 102.1px 45px 102.1px;
    width: 11.59rem;
    height: 4.5rem;
  }

  @media all and (min-width: 768px){
    .footer-container{
      display: flex;
      flex-direction: column;
      gap: 15px;
      
    }
    .footer{
      padding: 30px 45px 60px;
      height: 170px;
      flex-direction: row-reverse;
      justify-content: space-between;
      
    }
    .footer .copy{
      display: none;
    }
    .footer-container .copy{
      display: flex;
      justify-content: flex-start;
    }

    .footer .footer-logo{ 
      display: none;
   }
    .footer-container .footer-logo{
      display: flex;
      justify-content: flex-start;
      margin: 0;
  }
  // Al tener mayor especificidad podemos ocultar el logo inicial y mostrar el del contenedor

   .footer-list{
      height: 90px;
      align-items: flex-end;
      line-height: 30px;
      margin: 0;
    
   }
  }

  @media all and (min-width: 1200px){
    .footer-container{
      display: flex;
      flex-direction: column;
      gap: 15px;
      
    }
    .footer{
      padding: 30px 138px 51px;
      height: 170px;
      flex-direction: row-reverse;
      justify-content: space-between;
      
    }
    .footer .copy{
      display: none;
    }
    .footer-container .copy{
      display: flex;
      justify-content: flex-start;
      margin: 0;
    }

    .footer .footer-logo{ 
      display: none;
   }
    .footer-container .footer-logo{
      display: flex;
      justify-content: flex-start;
      margin: 0;
  }
  // Al tener mayor especificidad podemos ocultar el logo inicial y mostrar el del contenedor

   .footer-list{
      height: 90px;
      align-items: flex-end;
      line-height: 30px;
      margin: 0;
    
   }
 
  }
   