@import 'core/variables';
@import 'core/reset';
/*
@import 'components/code';
@import 'components/links';
*/
@import 'layout/header';
@import 'layout/footer';
@import 'layout/about-us';
@import 'layout/hero';
/*
@import 'pages/index';
*/
@import 'layout/team';

html {
    font-size: 62.5%;
  }
  /* 1 Rem son 10 px*/
  
  /* Se vuelven a poner las fuentes a 16px en body para respetar navegador ver siguiente post para más info
  /* https://www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/ */
  
  body {
    font-size: 1.6rem;
  }
  
  /*
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
  */
  
  .container {
    margin-left: 15px;
    margin-right: 15px;
  }
  
  /* hablado con Product-owner Ivan: márgenes con medidas abolutas
  pixels.*/
  
  
  /*HEADER*/
  
  
  
  /*HERO*/


  /*TEAM*/
  
  
  
  /*ABOUT US*/
  
  
